/*========================LOGO E NOME=================================*/
header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.logo {
    max-width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 20px; /* Espaçamento entre a logo e o nome */
}

.logo img {
    width: 100%;
    height: auto;
}

.nome-site {
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
}
header {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 25px;
    background-color: steelblue; /* Alterar a cor de onde está a logo e os links */
    border-width: 4px;
    border-style: solid;
    border-color: black;
}